h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline;
    text-align: center;
    color: yellow;
    font-family: cursive;
}
a{
    text-decoration: none;
    color: white;
    font-size: 50px;

}

body{
    background: black;
}
